/* SCSS Document */



/************************
temporary!!!
************************/
.sidebar{
	display:none;
}

body{
	
}

/***********
1. Fonts
***********/
body,h3,h4,h5,h6{
	font-family: $font-text;
	font-weight: 300;
}
h1,h2 {
	font-family: $font-header;
}
/***********
2. Body, main features
***********/
body{
	color: $color-text-light;
}

.p-relative{
	position: relative;
}

.section-title{
	position: relative;
	margin-bottom: 1em;
	padding-top: calc(1.5em + 64px);
	h2{
		font-weight: 300;
		text-transform: uppercase;
		margin-bottom:0;
	}
}
.section-title.row, {
	margin: 0 0 1em 0;
}
.title-center{
	h2{display: initial;}
}
%line-base{
	width: 7em;
	margin-bottom: 8px;
	margin-left: 5px;
}
.line{
	@include border-grd-line();
	@extend %line-base;
}
.v-line{
	@include border-grd-vline();
	@extend %line-base;
}

.violet{
	color: rgba($violet,0.7);
}

/***********
3. Sections 
***********/

/* 3.1. Section-1 / Home */

.section-1{
	height: 100vh;
}
.section-background{
	height:100%;
	&:before{
		position: fixed;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0;
		transition: opacity 1s ease;
	}
	
}
.section-background.show{
	&:before{
		opacity: 1;
	}
	
}
.gradient-home{
	
	&:before{
		background-image: $gradient-home;
		opacity: 0.5;
	}
	
}

/* 3.2. Section-2  */
.gradient-services{
	&:before{
		background-image: $gradient-services;
	}
	
}
/* 3.3. Section-3  */
.gradient-works{
	&:before{
		background-image: $gradient-works;
	}
	
}

/* 3.4. Section-4  */
.gradient-about{
	&:before{
		background-image: $gradient-about;
	}
}
/* 3.5. Section-5  */
.gradient-contact{
	&:before{
		background-image: $gradient-about;
	}
}
%triangle{
	content:'';
	position: absolute;
	z-index: 20;
	height: 2.5em;
	width: 2.5em;
}
.triangle{
	&:before{
		@extend %triangle;
		top: 63%;
		left: 0;
		background-image: url("../assets/triangles/tr-d-2.svg");
	}
}
.triangle-v{
	&:before{
		@extend %triangle;
		top: 63%;
		left: 0;
		background-image: url("../assets/triangles/tr-v.svg");
	}
}
.triangle-right{
	&:before{
		@extend %triangle;
		top: 55%;
		left: 65%;
		background-image: url("../assets/triangles/tr-d-2.svg");
	}
}
@media only screen and (min-width: 576px) { 
	.triangle-right{
		position: relative;
		&:before{
			top: -50%;
			left: 90%;
		}
	}
}
@media only screen and (min-width: 768px) { 
	.section-title.title-center{
		text-align: center;
		justify-content: center;
		.line{
			display: none;
		}
	}
	.section-title{
		padding-bottom: $pd/2;
		font-size: 1.25em;
	}
	.triangle,.triangle-v{
		&:before{
			top: 55%;
		}
	}
	.triangle.center{
		position: relative;
		&:before{
			top: -30%;
			left: 0%;
		}
	}

} 



