/* SCSS Document */



/************************
temporary!!!
************************/
.sidebar{
	display:none;
}
.menu-mobile{
	display:none;
}
body{
	
}

/***********
1. Fonts
***********/
body,h3,h4,h5,h6{
	font-family: $font-text;
	font-weight: 300;
}
h1,h2 {
	font-family: $font-header;
}
/***********
2. Body, main features
***********/
body{
	color: $color-text-light;
}
.container{
	padding-left: $pd;
	padding-right: $pd;
	height: 100%;
	max-width: 100%;
}
.p-relative{
	position: relative;
}
.main-title{
	text-transform: uppercase;
	text-align: center;
	font-size: 1.5em;
	line-height: 1.25em;
	h1 {font-weight: 500;}
}
.sub-title{
	text-align: center;
}
.arrow-container{
	text-align: center;
	.arrow{
		border: solid white;
	    border-width: 0 2px 2px 0;
	    display: inline-block;
	    padding: 8px;
	}
	.down {
	    transform: rotate(45deg);
	}
}
.section-title{
	padding-top: 2em;
	h2{
		font-weight: 300;
		text-transform: uppercase;
	}
}
.violet{
	color: rgba($violet,0.7);
}

/***********
3. Sections 
***********/

/* 3.1. Section-1 / Home */

.section-1{
	height: 100vh;
}
.section-background{
	height:100%;
}
.gradient-home{
	background-image: $gradient-home;
	background-attachment: fixed;
}
.home{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 90%;
}
.logo-container{
	padding: 0.5em 0;
	.logo{
		position: relative;
		height: 8em;
		&:before{
			content: '';
			position: absolute;
			top:0;
			left:0;
			background-image: url("../assets/icons/logo-fox_1.svg");
			background-repeat: no-repeat;
			background-position: center;
			opacity: .5;
			height: 8em;
			width: 100%;
		}
		
		img {
			height: 6em;
			margin: auto;
			padding-top: 1.5em;
			display: block;
		}
	}
}

/* 3.2. Section-2  */
.section-2{
	/*height: 50vh;*/
}
.gradient-services{
	background-image: $gradient-services;
}
/* 3.3. Section-3  */
.gradient-works{
	background-image: $gradient-works;
}
/***********
4. Navigation for mobile devices
***********/
.nav-top{
	padding-top: $pd;
	padding-bottom: $pd;
	position: relative;
	height:64px;
	&:after{
		opacity:0;
		content:'';
		top:0;
		left:0;
		height:100%;
		width: 100%;
		z-index:60;
		background-image:$gradient-nav;
		position: absolute;
		transition: opacity 400ms ease;

	}
}
.bars{
	height: $bars-height;
	width: $bars-width;
	.bar{
		height: $bar-height;
		background-image: $gradient-bars;
	}
	.bar-1{
		width:100%;
	}
	.bar-2{
		width:80%;
	}
	.bar-3{
		width:55%;
	}
}
.fixed{
    position: fixed;
    top:0;
    left: 0;
    z-index: 100;
    width: 100%;
    @include shadow();
    .nav-top-container{
		padding: 0 $pd;
		position:absolute;
		left:0;
		width:100%;
		z-index: 110;
	}
	&:after{
		opacity:1;
	}

}


/***********
6. Effects
***********/