/* SCSS Document */



/************************
temporary!!!
************************/
.sidebar{
	display:none;
}
.menu-mobile{
	display:none;
}
body{
	
}

/***********
1. Fonts
***********/
body,h3,h4,h5,h6{
	font-family: $font-text;
	font-weight: 300;
}
h1,h2 {
	font-family: $font-header;
}
/***********
2. Body, main features
***********/
body{
	color: $color-text-light;
}
.container{
	padding-left: $pd;
	padding-right: $pd;
	height: 100%;
	max-width: 100%;
}
.p-relative{
	position: relative;
}
.main-title{
	text-transform: uppercase;
	text-align: center;
	font-size: 1.5em;
	line-height: 1.25em;
	h1 {font-weight: 500;}
}
.sub-title{
	text-align: center;
}
.arrow-container{
	text-align: center;
	.arrow{
		border: solid white;
	    border-width: 0 2px 2px 0;
	    display: inline-block;
	    padding: 12px;
	}
	.down {
	    transform: rotate(45deg);
	}
}
.section-title{
	padding-top: calc(1.5em + 64px);
	h2{
		font-weight: 300;
		text-transform: uppercase;
	}
}
.violet{
	color: rgba($violet,0.7);
}

/***********
3. Sections 
***********/

/* 3.1. Section-1 / Home */

.section-1{
	height: 100vh;
}
.section-background{
	height:100%;
}
.gradient-home{
	background-image: $gradient-home;
	background-attachment: fixed;
}
.home{
	.arrow-container{
	position: absolute;
	top: 72%;
	left: 50%;
	transform: translate(-50%,-50%);
	}
	.main-title, .sub-title, .arrow-container, .logo-container{
		transition: all 1s ease-in-out;
	}
}
.main-title{
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.sub-title{
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.logo-container{
	position:fixed;
	top: 47%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 0.5em 0;
	width: 70%;
	.logo{
		position: relative;
		height: 8em;
		&:before{
			content: '';
			position: absolute;
			top:0;
			left:0;
			background-image: url("../assets/icons/logo-fox_1.svg");
			background-repeat: no-repeat;
			background-position: center;
			opacity: .5;
			height: 8em;
			width: 100%;
		}
		
		img {
			height: 6em;
			margin: auto;
			padding-top: 1.5em;
			display: block;
		}
	}
}
.home.fixed{
	.main-title, .sub-title, .arrow-container{
		opacity: 0;
		top: 50%;
	}
	.logo-container{
		top: 0%;
		left: 0%;
		transform: translate(0,0);
		z-index: 200;
		width: 70%;
		height: 64px;
		padding: $pd/2 0;
		.logo{
			height: auto;
			img{
				padding:0;
				height: 2.5em;
				margin: 0 $pd;
			}
			&:before{
				opacity: 0;
			}
		}
	}
}
/* 3.2. Section-2  */
.section-2{
	/*height: 50vh;*/
}
.gradient-services{
	background-image: $gradient-services;
}
/* 3.3. Section-3  */
.gradient-works{
	background-image: $gradient-works;
}

/* 3.4. Section-4  */
.gradient-about{
	background-image: $gradient-about;
}
.section-4{
	min-height: 100vh;
}
/* 3.5. Section-5  */
.gradient-contact{
	background-image: $gradient-about;
}
.section-4{
	min-height: 100vh;
}
/***********
4. Navigation for mobile devices
***********/
.nav-top{
	padding-top: $pd;
	padding-bottom: $pd;
	position: relative;
	height:64px;
	&:after{
		opacity:0;
		content:'';
		top:0;
		left:0;
		height:100%;
		width: 100%;
		z-index:60;
		background-image:$gradient-nav;
		position: absolute;
		transition: opacity 400ms ease;

	}
}
.bars{
	height: $bars-height;
	width: $bars-width;
	.bar{
		height: $bar-height;
		background-image: $gradient-bars;
	}
	.bar-1{
		width:100%;
	}
	.bar-2{
		width:80%;
	}
	.bar-3{
		width:55%;
	}
}
.nav-top.fixed{
    position: fixed;
    top:0;
    left: 0;
    z-index: 100;
    width: 100%;
    @include shadow();
    .nav-top-container{
		padding: 0 $pd;
		position:absolute;
		left:0;
		width:100%;
		z-index: 110;
	}
	&:after{
		opacity:1;
	}

}


/***********
5. Footer
***********/
.footer-container{
	margin-right: -$pd;
	margin-left: -$pd;
}
.footer-contact, .footer-media{
	padding: $pd/2 $pd;
	background-color: lighten($color-3, 10);
	p{
		margin:0;
	}
	.row{
		padding-bottom: $pd/2;
		margin: 0;
		align-items: center;
		i{
			padding-right: $pd/2;
			font-size: 1.25em;
			width: 1.5em;
			text-align:center;
		}
	}
}
.footer-copyright{
	padding: $pd/2 $pd;
	background-color: lighten($color-3, 5);
	h6{
		margin:0;
	}
}




