/***********
About
***********/

.about-icon{
	img{
		height:4em;
		width: auto;
		padding-right: $pd;
	}
}
.about-container{
	height: 100%;
	.row{
		align-items: top;
		margin: $pd*1.5 0 !important;
	}
}
.about-text{
	p,h3{
		margin: 0;
	}
	ul{
		padding:0;
		list-style-type: none;

		li:before {
		    content: "-"; 
		    padding-right: 16px;
		}
	}
}
@media only screen and (min-width: 576px) { 
	.about-text{
		padding-left: $pd*2;
	}

}
@media only screen and (min-width: 768px) { 
	.about-container{
		.row {
			&:nth-child(odd){justify-content: flex-end;}
			&:nth-child(even){
				justify-content: flex-start;
				.about-text{
					order: 1;
					text-align: right;
				}
				.about-icon{
					order: 2;
				}
			}
			&:last-of-type{
				flex-direction: column;
				align-items: center;
				h3{text-align: center;}
			}
		}
		.about-text{
			@include make-col(5);
			padding-left: 0;
		}
		.about-text.center{
			padding-top: $pd;
		}
		.about-icon{
			@include make-col(2);
			padding: 0 $pd;
			text-align: center;
			img{
				padding-right: 0;
			}
		}
	}
} 
@keyframes select{
	0%{
		opacity: 0.5;
		transform:  scale(1.5);
		color: $pink;
	}


	50%{
		transform:  scale(0.7);
		opacity: 0.5;
	}

	100%{
		transform: scale(1.1);
		opacity: 1;
		color: white;
	}
}
@media only screen and (min-width: 991px) { 
	.about-container{
		.about-text{
			opacity: 0;
			font-size: 1.2em;
			transition: all 1s ease-in-out;
			&:hover{
				animation: select 1s 1 forwards ;
			}
		}
		.about-icon{
			opacity: 0;
			img{
				height: 5em;
			}
		}
	}
}
@media only screen and (min-width: 1199px) { 

} 