/***********
Contact, Contact Form
***********/
.contact-info{
	display: none;
}


.container-input{
	position: relative;
	padding: $pd/2 0;
	.rect{			
		@include border-grd();
		height:0.75em;
		width: 100%;
		transition: all ease-in-out 0.2s;
	}
	label{
		position: absolute;
		z-index: 20;
		top: 1.45em;
		color: $color-3;
		padding: 0 $pd;
		margin:0;
		transition: all ease-in-out 0.2s;
		font-size: 1.1em;
	}
	input,textarea{
		width: 100%;
		background-image: $gradient-input;
		opacity: 0.9;
		border: none;
		@include shadow();
		padding: $pd/4;
		text-indent: $pd/2;

	}
	label.focus{
		top: 1em;
		font-size: 0.75em;
		color: white;
	}
	.rect.focus{
		height:1.25em;
		background-color: lighten( rgba($violet,0.5),25);
	}
}
input, textarea {
    &:valid + label{
      	top: 1em;
		font-size: 0.75em;
		color: white;
    }
    &:focus + label {
      	top: 1em;
		font-size: 0.75em;
		color: white;
    }
  }
.btn-submit{
	cursor: pointer;
	@include border-grd();
	@include shadow();
	color: white;
	text-transform: uppercase;
	background-color: rgba(0,0,0,0);
	width: 100%;
	margin: $pd/2 0 $pd 0;
	padding: $pd/4 0;
	&:hover{
		background-color: rgba(white,0.3);
	}
}
input[type=submit]:active{
	background-color: rgba(white,0.65);
	color: $color-1;
}
@media only screen and (min-width: 576px) { 

}
@media only screen and (min-width: 768px) { 
	.contact-container{
		width: 65%;
		margin: auto;
	}
	.btn-submit{
		display: block;
		max-width: 60%;
		margin: auto;
	}
} 
@media only screen and (min-width: 991px) { 
	.btn-submit{
		max-width: 40%;
		font-size: 1.2em;
		transition: all 0.5s ease-in-out;
		&:hover{
			width: 30%;
			padding: $pd/2;
		}
	}
	.contact-container{
		width: 85%;
		&>h3{
			font-size: 1.5em;
			text-align: center;
			margin-bottom: $pd/2;
		}
	}
	.form-container{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin-bottom: $pd;
	}
	.contact-info{
		display: block;
		text-align: center;
		p{
			margin-bottom: 0;
			padding-right: $pd/2;
		}
		.row .row{
			padding: $pd/2 $pd;
			p{@include border-grd-line();}
		}
		h3{
			font-size: 1.5em;
		}
		.row{
			font-size: 1.05em;
		}
		a{
			&:hover{
				color: rgba(white, 0.6);
			}
		}
	}
}
@media only screen and (min-width: 1199px) { 
	.contact-container{
		width: 80%;
		max-width: 50em;
	}
	.contact-info{
		.row{
			font-size: 1.1em;
		}
	}
}  
