/***********
Contact, Contact Form
***********/
.contact-info{
	display: none;
}


.container-input{
	position: relative;
	padding: $pd/2 0;
	.rect{			
		@include border-grd();
		height:0.75em;
		width: 100%;
		transition: all ease-in-out 0.2s;
	}
	label{
		position: absolute;
		z-index: 20;
		top: 1.70em;
		color: $color-1;
		padding: 0 $pd;
		margin:0;
		transition: all ease-in-out 0.2s;
	}
	input,textarea{
		width: 100%;
		background-image: $gradient-input;
		opacity: 0.9;
		border: none;
		@include shadow();
		padding: $pd/4;
		text-indent: $pd/2;

	}
	label.focus{
		top: 1em;
		font-size: 0.75em;
		color: white;
	}
	.rect.focus{
		height:1.25em;
		background-color: lighten( rgba($violet,0.5),25);
	}
}
.btn-submit{
	@include border-grd();
	@include shadow();
	color: white;
	text-transform: uppercase;
	background-color: rgba(0,0,0,0);
	width: 100%;
	margin: $pd/2 0 $pd 0;
	padding: $pd/4 0;
	&:hover{
		background-color: rgba(white,0.3);
	}
}
input[type=submit]:active{
	background-color: rgba(white,0.65);
	color: $color-1;
}
@media only screen and (min-width: 576px) { 

}
@media only screen and (min-width: 768px) { 
	.contact-container{
		width: 70%;
		margin: auto;
	}
	.btn-submit{
		display: block;
		max-width: 60%;
		margin: auto;
	}
} 
@media only screen and (min-width: 991px) { 
	.contact-container{
		width: 85%;
	}
	.form-container{
		height: 220px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		.container-input{
			margin-right: 1em;
			&:last-of-type{
				margin-right: 0;
				margin-left: 1em;
			}
			input{
				
			}
		}
	}
	.btn-submit{
		max-width: 50%;
	}
	.contact-form{
		opacity: 0;
	}
}
@media only screen and (min-width: 1199px) { 
	.contact-container{
		width: 70%;
		max-width: 50em;
	}
}  
