/***********
Footer
***********/
footer{
	background-color: rgba(lighten($color-3, 10), 0.8);
}
.media-copyright{
	display: none;
}
.footer-contact, .footer-media{
	padding: $pd/2 0;
	.row{
		padding-bottom: $pd/2;
		margin: 0;
		align-items: center;
		i{
			padding-right: $pd/2;
			font-size: 1.25em;
			width: 1.5em;
			text-align:center;
		}
	}
	a{
		color: white;
		font-size: 1em;
		font-weight: 300;
		&:hover{
			color: lighten($color-1, 17);
		}
	}
}
.footer-media-icons{
	a{
		color: white;
		&:hover{
			color: lighten($color-1, 17);
		}
	}
	i{	
		transition: all ease 0.3s;
		padding-right: $pd;
		font-size: 1.25em;
		&:hover{
			transform: translateY(-0.2em) scale(1.2);
		}
	}
}
.footer-copyright{
	padding: $pd/2 0;
	background-color: lighten($color-3, 5);
	h6{
		margin:0;
		font-size: 0.9em;
	}
}
@media only screen and (min-width: 576px) { 

}
@media only screen and (min-width: 768px) { 
	.footer-container{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
	.footer-copyright{
		text-align: center;
	}
	.footer-media{
		text-align: right;
		i{
			padding-right: 0;
			padding-left: $pd;
		}

	}
	.footer-contact, .footer-media{
		h4{
			font-size: 1.1em;
		}
	}
} 
@media only screen and (min-width: 991px) { 
	.footer-container{
		justify-content: center;
	}
	footer{
		background-color: rgba(white,0);
		position: relative;
		h4{
			display: none;
		}
	}
	.footer-media{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		i{
			padding-right: $pd/2;
			padding-left: 0;
			font-size: 1.4em;
		}
		a{
			color: rgba(white, 0.9);
			&:hover{
				color: rgba(lighten($violet,35), 0.9);
			}
		}
		.row{
			padding-bottom: 0;
		}
	}
	.footer-contact{
		display: none;
		/*flex-wrap: wrap;
		a{
			color: rgba(lighten($violet,20), 0.85);
			&:hover{
				color: rgba(lighten($violet,35), 0.9);
			}
		}
		i{
			color: rgba(lighten($violet,20), 0.7);
		}
		.row{
			padding-right: 1em;
			padding-bottom: 0;
		}*/
	}
	.footer-copyright{
		display: none;
	}
	.media-copyright{
		font-size: 1em;
		margin:0;
		color: rgba(white, 0.7);
		display: block;
	}
	.footer-container{
		padding-bottom: $pd/2;
	}
}
@media only screen and (min-width: 1199px) { 

} 