/***********
 Services
***********/
.service{
	
	&:nth-child(3n-2){

		.service-content{background-image: $gradient-service-n;}
	}
	&:nth-child(3n-1){
		.service-content{background-image: $gradient-service-2n;}
	}
	&:nth-child(3n){
		.service-content{background-image: $gradient-service-3n;}
	}
	

}
.service-content{
	margin: $pd 0;
	padding: $pd;
	text-align: center;
	@include shadow();
	
}
.service-icon{
	img{
		height: 4em;
	}
}
.service-title{
	padding: $pd/2;
}

@media only screen and (min-width: 576px) { 
	.services{

	}
	.services-container{
		@include make-row();
	}
	.service{
		@include make-col(6);
	}
	.service-content{
		margin: $pd/2;
	}
}
@media only screen and (min-width: 768px) { 

} 
@media only screen and (min-width: 991px) { 
	.service{
		
		@include make-col(4);
	}
}
@media only screen and (min-width: 1199px) { 

}  
