/***********
Works
***********/
.work{
	width: 100%;
	img{
		width: 100%;
	}
	.work-title{
		background-image: $gradient-title;
		/*border: $violet solid 2px;*/
		/*@include border-grd-clr();*/
		h3{
			color: white;
			margin: 0;
			padding: $pd/1.5 $pd;
			font-size: 1.25em;
		}
		i{
			font-size: 1.25em;
			padding-right: 0.7em;
			color: lighten($violet, 50);
		}
	}
}
.work-content{
	margin: $pd 0;
	@include shadow();
	
}

@media only screen and (min-width: 576px) { 
	.work{
		width: 100%;
		margin-bottom: $pd*2;
	}
	
	.work-content{
		margin: $pd/2;
	}
}
@media only screen and (min-width: 768px) { 
	.works-container{
		@include make-row();
	}
	.work{
		img{
			height: 100%;
		}
		@include make-col(6);
	}
	.work-content{
		margin: 0 $pd;
	}
} 
@media only screen and (min-width: 991px) { 
	.work{
		transition: all 0.5s ease;
		&:hover{
			transform: scale(1.05);
		}
		.work-title{
			display: none;
			background-image: none;
			@include border-grd-clr();
			h3{
				color: lighten($violet,15);
				margin: 0;
				padding: $pd/1.5 $pd;
				font-size: 1.4em;
			}
			i{
				font-size: 1.25em;
				padding-right: 0.7em;
				color: lighten($violet, 40);
			}
		}
	}
}
@media only screen and (min-width: 1199px) { 
	
} 